<!-- <p>login-page works!</p> -->

<div class="parent">

  <div class="child-1">
    <img class="bg-image" src="assets/acp_landing_page.png" alt="">

    <div class="logo-image">
      <img class="logo-image__data" src="assets/acp_logo_v2.png" alt="">
      <h2>Auditing and Certification Platform</h2>
      <p>Standardization & Innovation Brought to Auditing, Certification & Inspection Bodies Worldwide</p>
    </div>

  </div>

  <div class="child-2">

    <div class="logo">
      <img src="assets/ACP_Logo.png" alt="">
    </div>

    <h2>LOGIN</h2>


    <form [formGroup]="loginForm" (ngSubmit)="onSubmitbtn()">

      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input type="text" matInput formControlName="userName" required>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input type="text" matInput formControlName="password" required>
      </mat-form-field>

      <a href="">Forgot Password?</a>

      <button [disabled] = "loginForm.invalid" type="submit" mat-raised-button>LOGIN</button>


    </form>

  </div>
</div>
