<!-- <p>login-page works!</p> -->

<div class="parent">

  <div class="child-1">
    <img class="bg-image" src="assets/acp_landing_page.png" alt="">

    <div class="logo-image">
      <img src="assets/acp_logo_v2.png" alt="">
      <h2>Auditing and Certification Platform</h2>
      <p>Standardization & Innovation Brought to Auditing, Certification & Inspection Bodies Worldwide</p>
    </div>

  </div>

  <div class="child-2">

    <div class="logo">
      <img src="assets/ACP_Logo.png" alt="">
    </div>

    <h2>LOGIN</h2>

    <!-- <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input type="text" matInput required>
    </mat-form-field> -->

<!--
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input type="text" matInput required>
      <button mat-icon-button></button>
    </mat-form-field> -->


    <!-- <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field> -->

<!--
    <a href="">Forgot Password?</a>

    <br>

    <button type="submit" mat-raised-button>LOGIN</button> -->


    <form action="">

      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput type="text">
      </mat-form-field>


    </form>

  </div>
</div>
