<div class="container">

  <h2>Add User</h2>

  <div class="add-user">

    <div class="container-2">
      <h3>General Information</h3>

        <form action="" class="create-user-form">

          <mat-form-field appearance="outline" class="name-title">
            <mat-select>
              <mat-option value="Mr">Mr</mat-option>
              <mat-option value="Mrs">Mrs</mat-option>
              <mat-option value="Miss">Miss</mat-option>
              <mat-option value="Dr">Dr</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="first-name">
            <mat-label>First Name</mat-label>
            <input type="text" matInput>
          </mat-form-field>

          <mat-form-field class="last-name">
            <mat-label>last Name</mat-label>
            <input type="text" matInput>
          </mat-form-field>


        </form>
    </div>

  </div>

</div>
