mat-sidenav-container {
  height: 100%;
  align-items: center;
  border-bottom: 1px solid rgb(189, 184, 177);

  .sidenav {

    width: 220px;
    // height: 200px;
    background-color: white;
    border: 1px solid rgb(189, 184, 177);

    &-button {
      padding: 1px;
      border-bottom: 1px solid rgb(189, 184, 177);

      display: flex;

      &-main {
        width: 150px;
        height: auto;
        // border: 1px solid red;
        display: flex;
        // flex-direction: row;
        margin: 5px;
        padding-left: 15px;
        align-items: center;
        h4 {
          display: flex;
          align-items: center;
        }
        li {
          height: 48px;
          display: flex;
          justify-content: flex-start;

          // align-items: center;
          // justify-content: center;
          list-style: none;
          h2{
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            margin: auto;
            // border: 1px solid red;
            background-color: #3498DB;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            color: white;
          }
        }

        mat-icon {
          // border: 1px solid red;
        }

      }

      .menu-items {

        margin-left: 10px;

        button {
          display: flex;
          flex-direction: column;
          // background-color: #3498DB;

        }

      }

    }

    &-subButtons {

      form {
        display: flex;
        flex-direction: column;

        button {
          padding: 2%;
          margin-top: 10px;
          text-align: left;
          border-bottom-right-radius: 20px ;
          border-top-right-radius: 20px;
          border-bottom-left-radius: 0%;
          border-top-left-radius: 0%;
          background-color: #3498DB;
          color: white;
          font-size: larger;
        }
      }
    }


  }

  mat-sidenav-content {

    .sidenav-content {
      padding: 12px;
      border-bottom: 1px solid rgb(189, 184, 177);
      justify-content: space-between;
      display: flex;
      align-items: center;

      img {
        width: 70px;
        padding: 6px;
        margin-right: 25px;
        padding-left: 45px;
        border-left: 1px solid rgb(189, 184, 177);
      }

    }

    .sidenav-subContents {

    }


  }

}
