<div class="container">

  <div class="add-form">
    <h2>ADD FORM</h2>
    <button class="btn" [disabled]="true" mat-stroked-button><mat-icon>add_circle</mat-icon> </button>
  </div>

  <div class="form-info">

    <form class="form-info-input" [formGroup]="formInfo" >

      <mat-form-field appearancer="fill">
        <mat-label>Title</mat-label>
        <input formControlName="title" matInput type="text">
      </mat-form-field>

      <mat-form-field appearancer="fill">
        <mat-label>Form Description</mat-label>
        <input formControlName="description" matInput type="text">
      </mat-form-field>

      <!-- <button mat-stroked-button type="submit" (click)="display()">Check Data</button> -->

    </form>

  </div>

  <div class="form-data">

    <form class="form-data-input">

      <div class="form-data-question">
        <mat-form-field class="ques">
          <mat-label>Question</mat-label>
          <input matInput type="text" (change)="setQuesTitle($event)">

        </mat-form-field>

        <mat-form-field class="ques-type" appearance="outline">
          <mat-label>Question Type</mat-label>
          <mat-select (selectionChange)="setQuesType($event.value)">
            <mat-option *ngFor="let quesType of quesTypes" [value]="quesType">{{quesType}}</mat-option>

          </mat-select>
        </mat-form-field>


        <!-- <button onclick="setQuesType()">Submit</button> -->
      </div>

      <br>

      <div class="ques-details">

        <ng-container  *ngIf="quesTypeName==='Multiple Choice'">
          <div class="ans-manage" *ngFor="let answer of optionList index as i">

            <mat-icon class="option_icon">radio_button_unchecked</mat-icon>
            
            <mat-form-field class="inputData" >
              <mat-label>Answer</mat-label>
              <input type="text" matInput (change)="idxPos(i,$event)" [value]="answer">
              
            </mat-form-field>
            <button class="dltButton" mat-button (click)="dltFromOptions(i)">
              <mat-icon>delete</mat-icon>
            </button>
  
          </div>
        </ng-container>

        <ng-container  *ngIf="quesTypeName==='Checkbox'">
          <div class="ans-manage" *ngFor="let answer of optionList index as i">

            <mat-icon class="option_icon">check_box_outline_blank</mat-icon>
            
            <mat-form-field class="inputData" >
              <mat-label>Answer</mat-label>
              <input type="text" matInput (change)="idxPos(i,$event)" [value]="answer">
              
            </mat-form-field>
            <button class="dltButton" mat-button (click)="dltFromOptions(i)">
              <mat-icon>delete</mat-icon>
            </button>
  
          </div>
        </ng-container>



        <button class="add-button" mat-stroked-button (click)="onTapAddbtn()">Add Option</button>

      </div>

    </form>

  </div>
  <div class="add-discard">
    <button class="discard" mat-button routerLink="/dash/form">Discard</button>
    <button class="save" mat-button (click)="saveForm()">Save Form</button>
  </div>



</div>
