<div class="container">

  <div class="add-form">
    <h2>ADD FORM</h2>
  </div>

  <div class="form-info">

    <form class="form-info-input" [formGroup]="formInfo" >

      <mat-form-field appearancer="fill">
        <mat-label>Title</mat-label>
        <input formControlName="title" matInput type="text">
      </mat-form-field>

      <mat-form-field appearancer="fill">
        <mat-label>Form Description</mat-label>
        <input formControlName="description" matInput type="text">
      </mat-form-field>

      <!-- <button mat-stroked-button type="submit" (click)="display()">Check Data</button> -->

    </form>

  </div>

  <div class="form-data">
    <form class="form-data-input">

      <div class="form-data-question">
        <mat-form-field class="ques">
          <mat-label>Question</mat-label>
          <input matInput type="text">

        </mat-form-field>

        <mat-form-field class="ques-type" appearance="outline">
          <mat-label>Question Type</mat-label>
          <mat-select (selectionChange)="setQuesType($event.value)">
            <mat-option *ngFor="let quesType of quesTypes" [value]="quesType">{{quesType}}</mat-option>

          </mat-select>
        </mat-form-field>


        <!-- <button onclick="setQuesType()">Submit</button> -->
      </div>


      <div class="ques-details">

        <div class="ans-manage">

          <mat-form-field class="inputData" *ngFor="let answer of optionList index as i">
            <mat-label>Answer</mat-label>
            <input type="text" matInput (keyup.enter)="idxPos(i,$event)">

          </mat-form-field>
          <button *ngFor="let item of optionList index as i" class="dltButton" mat-button (click)="dltFromOptions(i)">
            <mat-icon>delete</mat-icon>
          </button>


        </div>



        <button mat-stroked-button (click)="onTapAddbtn()">Add Option</button>

      </div>

    </form>

  </div>
  <div class="add-discard">
    <button class="discard" mat-button routerLink="/dash/form">Discard</button>
    <button class="save" mat-button>Save Form</button>
  </div>



</div>
