.parent {
  width: 100%;
  .office-view {
    float: left;
    width: 75%;
     &-image {
      width: 100%;
      position: relative;
      .image1 {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        opacity: .6;
      }
      .image2 {
        position: absolute;
        width: 200px;
        top: 40%;
        left: 42%;
      }

      h1 {
        position: absolute;
        top: 60%;
        left: 35%;
        text-align: center;
        color: white;
        font-weight: 250px;
      }

     }

      .login-form {


        display: flex;
        width: 10%;
        float: left;


        &-title {

          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          text-align: center;

          h2{

          }
        }

        a {
          text-decoration: none;
        }

     }

  }

}
